.btn-start {
    padding: 40px 130px;
    background-color: rgb(47, 47, 248) !important;
    font-style: "Luckiest Guy";
    font-size: 100px;
    border-radius: 10%;
    border: 5px solid rgb(3, 12, 141)
    

}

.start-page{
    margin-top: 100px;
    vertical-align: middle;
   
}

.start-body {
    background-color: rgb(145, 186, 248)
}
 

