.btn-start {
    padding: 10px 30px;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 10%;
    border: 10px solid rgb(18, 81, 216);
}



.start-page{
    margin-top: 100px;
    vertical-align: middle;
   
}

.start-body {
    background-image: url("img/turtlered.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
}
 

